

:root {
  --secondary-rgb: 222, 226, 230;
  --accent: #007bff;
  --card: #e2e8f0;
  --card-background: #ffffff;
  --card-foreground: #0f172a;
  --input: #ced4da;
  --background: #ffffff;
  --ring: #007bff;
  --muted-foreground: #6c757d;
  --primary: #007bff;
  --primary-foreground: #ffffff;
  --primary-rgb: 0, 123, 255;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  --foreground: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme='dark'] {
  --secondary-rgb: 108, 117, 125;
  --accent: #007bff;
  --card: #2d3748;
  --card-background: #1a202c;
  --card-foreground: #ffffff;
  --input: #4a5568;
  --background: #1a202c;
  --ring: #007bff;
  --muted-foreground: #a0aec0;
  --primary: #007bff;
  --primary-foreground: #ffffff;
  --primary-rgb: 0, 123, 255;

  color: rgba(255, 255, 255, 0.87);
  --foreground: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
